@import url(http://fonts.googleapis.com/css?family=Monda:400,700&subset=latin,latin-ext);

* {
	margin: 0;
	padding: 0;
	font-family:"Droid Sans";
}

body {

	background: #E5E5E5 url('gfx/body_background.png') repeat-x 0 150px;
}

header,section#content,footer {
	margin: 0 auto;
	width: 935px;
	background-color: white;

}

header:after {
	content:" ";
	text-indent: -1000px;
	overflow: hidden;
	display: block;
	clear: both;
	background: url('gfx/header_separator.png') 0 0 no-repeat;
	width: 1016px;
	height: 88px;
	position: relative;
	left: -20px;
	top: 10px;
	margin-top: -70px;

}
header h1 {
	height: 150px;
	display: block;
	background: url('gfx/logo.png') 50% 40% no-repeat;
	text-indent: -2000px;
	overflow: hidden;
}
header nav {
	height: 51px;
	width: 935px;
	margin-top: 2px;
	z-index: 10001;
	background: #444;
}
header nav:before {
	content: " ";

	width: 155px;
	height: 126px;
	display: block;
	float: left;
	overflow: hidden;
	text-indent: -1000px;
	background-image: url('gfx/header_nav_before.png');
	background-repeat: no-repeat;
	background-position:  -3px 0;
	position: relative;
	top: -27px;
	margin-bottom: -155px;

	
}
header nav:after {

	content: " ";
	text-indent: -1000px;
	overflow: hidden;
	text-indent: -1000px;
	width: 102px;
	height: 120px;
	display: block;
	float: right;
	background-image: url('gfx/header_nav_after.png');
	background-repeat: no-repeat;

	position: relative;
	top: -18px;
	left: 25px;
	margin-bottom: -102px;
}

header nav a{
	display: block;
	float: left;


	margin-left: -2px;
	position: relative;
	top: -1px;	
	left: 150px;
	
	font-size: 14px;
	font-weight: bold;
	color: white;
	
	text-decoration:none;

	text-shadow: black 1px 1px 0;


	height: 51px;
	line-height: 375%;
	overflow: hidden;

	background: transparent;
	padding-left: 0;
	padding-right: 0;

	border-style: solid;
	border-width: 1px 22px;
	border-color: #444;
	-moz-border-image: url(gfx/menu_item.png) 1 54 stretch;
	-webkit-border-image: url(gfx/menu_item.png) 1 54 stretch;
	-o-border-image: url(gfx/menu_item.png) 1 54 stretch;
	border-image: url(gfx/menu_item.png) 1 54 stretch;

	 
	 position: relative;

}
header nav a:hover,header nav a.active {
	border-width: 1px 22px;
	background-color: #6D4295;
	animation-name: menuitemshake;
	animation-duration: 0.3s;
	animation-timing-function: ease-out;

	
}
@keyframes menuitemshake {
  from {

	opacity: 0.8;
	background-color: #444;
	text-shadow: white 0 0 4px, black 1px 1px 0;
  }
 
  to {

	opacity:1;
	background-color: #6D4295;
	text-shadow: white 0 0 0px, black 1px 1px 0;
	

  }
  }
hgroup  {
	display: block;
	clear: both;
	padding: 50px 0;


}

 hgroup h2 {

	width: 280px;

	display: block;
	float: left;
	padding-right: 50px;
	
	
	color: #444444;
	font-size: 27px;
	text-align: right;
}

 hgroup  h2 strong {
	color: #868686;
	font-size: 18px;
	display: block;

}

hgroup  p {
	color: #777777;
	font-size: 15px;
	text-align: justify;
	display: block;
	padding-right: 50px;
	line-height: 150%;
	margin-top: 5px;
	
}

section#content  table.szkolenia{
	width: 840px;
	margin: 0 auto;
	border-collapse:collapse;
	border-bottom: 2px #C4C4C4 solid;
	margin-bottom: 30px;
	display: block;
	clear: both;
}

section#content table.szkolenia thead{
	border-bottom:3px #C8C8C8 solid;
	
}
section#content table.szkolenia th {
	background-color: #EFEFEF;
	color: #7F7F7F;
	font-size: 13px;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	text-shadow: white 0 -1px 0;
}

section#content table.szkolenia tr {
	border-bottom: 1px #C4C4C4 solid;
}
section#content table.szkolenia td {
	font-size: 13px;
	padding: 15px;
	color: #555;
	line-height: 120%;
	text-align: left;
}
section#content table.szkolenia td.kolumna-tytul {
	color: #222;
	width: 450px;
}
section#content table.szkolenia caption {
	display: none;
}
nav#szkolenia-wybor {
	background: #999999;
	width: 840px;
	margin: 0 auto;
	height: 42px;
}
nav#szkolenia-wybor:before {
	content: " ";
	display: block;
	background: url('gfx/triangle_up.png') no-repeat 0 0;
	width: 30px;
	height: 42px;
	float: left;
	position: relative;
	left: -22px;
}
nav#szkolenia-wybor:after {
	content: " ";
	display: block;
	background: url('gfx/triangle_down.png') no-repeat 0 0;
	width: 45px;
	height: 42px;
	float: right;
	position: relative;
	left: 24px;

}
nav#szkolenia-wybor a {
	display: block;
	float: left;
	color: #444;
	text-decoration:none;
	padding: 11px;
	font-size: 16px;
	width: 100px;
	text-align: center;

	
}
nav#szkolenia-wybor a.active {
	color: white;
	text-shadow: #222 0 0 11px,#888 1px 1px 0;
}
nav#szkolenia-wybor a.active:after {
content: " ";
background:  url('gfx/active_arrow.png') no-repeat;
display: block;
width: 18px;
height: 10px;
margin: 0 auto;
position: relative;
clear: both;
top: 11px;
margin-bottom: -11px;
}

div.pod-szkoleniami {
	width: 840px;
	margin: 10px auto;
	padding-bottom: 10px;
}
div.pod-szkoleniami a {


	display: block;
	background: #C4C4C4 url('gfx/env_add.png') no-repeat -15px -18px;
	color: #6C6C6C;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	padding-left: 50px;
	float: left;
	font-size: 14px;

}
div.pod-szkoleniami:after {
	background: white;
	clear: both;
	display: block;
	content: " ";
}
div.pod-szkoleniami fieldset {
	display: block;
	border: 0;
	float: right;

	font-weight: bold;
	font-size: 12px;
	padding-left: 50px;
}
div.pod-szkoleniami fieldset  fieldset {
	float: none;
	margin: 10px;
	font-weight: normal;
}
div.pod-szkoleniami input {
	margin: 0 5px;
}

section#content:after
 {
	content:" ";
	text-indent: -1000px;
	overflow: hidden;
	display: block;
	clear: both;
	background: url('gfx/content_separator.png') 0 0 no-repeat;
	width: 999px;
	height: 70px;
	position: relative;
	left:-10px;
	top: 10px;
	margin-top: -70px;
}
footer {
	margin-top: 60px;
}

footer:before {
	content: " ";
	display: block;
	width: 128px;
	height:79px;
	background: url('gfx/footer_before.png')0 0 no-repeat;
	float: left;
	margin-left: -100px;
}
footer nav {
	height: 300px;
	padding-top: 20px;
}
footer nav a{
	display: block;
	border: 1px white solid;
	border-radius: 4px;
	
	float: left;
	color: #777777;
	text-decoration: none;
	width: 270px;

	padding: 10px;
	font-size: 15px;
	background: white no-repeat 50% 100px;
	height: 250px;
	z-index: 20;
	position: relative;
}
a.footer-nav-form {
	background-image:  url('gfx/form.jpg');
}
a.footer-nav-group {
	background-image:  url('gfx/nav-people.jpg');
}
a.footer-nav-contact {
	background-image:  url('gfx/koles.jpg');
}
footer nav strong {
	color: #444444;
	font-size:17px;
	display: block;
	margin-top: 5px;
	margin-bottom: 15px;
}

footer nav a:hover {
	border-color: #ccc;
	box-shadow: 0 0 3px #ccc;
	z-index: 25;
}